.signIn-link {
    a {
        font-size: 20px;
        color: #fcd750 !important;
        text-decoration: none !important;
        margin-left: 45px !important;
    }
}
.home-logo {
    margin-top: 20px;
}
// .home-baner {
//     padding-top: 2px !important;
//     position: absolute !important;
//     right: -46px !important;
// }
.home-baner {
    img {
        max-width: 100%;
        max-height: 100%;
        margin-top: 50px
        // width: 100%;
        // height: 100%;
    }
}
// .home-baner {
//     a {
//         position: absolute;
//         top: 16vw;
//         right: 20vw;
//     }
// }
