

.modalcontent{
    text-align: center !important;
    background: black;
    border: 1px solid black !important;
    border-radius: 5px;
    color: #fccf3e;
    font-size: 15pt !important;
    font-weight: bolder !important;
    
}

.modalheader{
    background: url(./../../utils/images/background.jpg) !important no-repeat;
   // margin: auto !important;
    padding: 0;
    text-align: center !important;
    background: black;
    color: #fccf3e;
    padding-top: 5px;
    font-size: 20pt !important;
    font-weight: bolder !important
    
    
    
}
.modalheader{
    img{
   background:black;
    margin-left: 8vw !important
    }
}
.modalfooter{
    background: black
}
.mainModal{
    background: black !important;
    border: 8px solid #fccf3e !important;
    border-radius: 20px !important; 
   // height: 100%;
    
}
@media only screen and (max-width : 580px) {
    .mainModal{
        margin-top: 100px !important;
        background: black !important;
        border: 6px solid #fccf3e !important;
        border-radius: 20px !important; 
        width: 200px
        
}
}

// @media only screen and (max-height : 800px) {
//     .mainModal{
//         margin-top: 100px !important;
//         background: black !important;
//         border: 6px solid #fccf3e !important;
//         border-radius: 20px !important; 
//         width: 200px;
//         height: 100px !important;
        
// }
// }

@media only screen and (max-width : 400) {
    .modalcontent{
        text-align: center !important;
        background: black;
        color: #fccf3e;
        font-size: 15pt !important;
        font-weight: bolder !important;
        height: 200px !important;
    }
}

.modal  {
    background: none !important;
    border:none !important;
    border-radius: 152px;
    
}
.modalbtn{
    background:none !important;
    background-image: url(./../../utils/images/imag-border.png)   no-repeat  !important;
  //  width: 42px !important;
  // height: 42px !important;
  //  border: 5px solid #fccf3e  !important;
  border: none !important;
   border-radius: 150% !important;
   // align-items: center !important;
    
    
}
.modalbtn :hover {
cursor: pointer;
}
.modalbtn :focus {
    outline: none !important;
    
}