

.modalcontent{
    text-align: center !important;
    background: black;
    border: 1px solid black !important;
    border-radius: 5px;
    color: #fccf3e;
    font-size: 10pt !important;
    font-weight: bolder !important;
    
}
.border{
    background: url('./../../utils/images/image-border1.png')
}
.modalheader{
    background: url(./../../utils/images/background.jpg) !important no-repeat;
   // margin: auto !important;
    padding: 0;
    text-align: center !important;
    background: black;
    color: #fccf3e;
    padding-top: 5px;
    font-size: 20pt !important;
    font-weight: bolder !important
    
    
    
}
.modalheader{
    img{
   background:black;
    margin-left: 8vw !important
    }
}
.modalfooter{
    background: black
}
.mainModal{
    background: black !important;
    border: 8px solid #fccf3e !important;
    border-radius: 20px !important; 
   // height: 100%;
    
}
@media only screen and (max-width : 580px) {
    .mainModal{
        margin-top: 100px !important;
        background: black !important;
        border: 6px solid #fccf3e !important;
        border-radius: 20px !important; 
        width: 200px
        
}
}

// @media only screen and (max-height : 800px) {
//     .mainModal{
//         margin-top: 100px !important;
//         background: black !important;
//         border: 6px solid #fccf3e !important;
//         border-radius: 20px !important; 
//         width: 200px;
//         height: 100px !important;
        
// }
// }

@media only screen and (max-width : 400) {
    .modalcontent{
        text-align: center !important;
        background: black;
        color: #fccf3e;
        font-size: 15pt !important;
        font-weight: bolder !important;
        height: 200px !important;
    }
}

.modal  {
    background: none !important;
    border:none !important;
    border-radius: 152px;
    
}
.modalbtn{
    background: none   !important;
   // background-image: url(./../../utils/images/imag-border.png)   no-repeat  !important;
  //  width: 42px !important;
  // height: 42px !important;
  // border: 5px solid #fccf3e  !important;
  border: none !important;
   border-radius: 150% !important;
   // align-items: center !important;
    
    
}
.modalbtn :hover {
cursor: pointer !important;
}
.modalbtn :focus {
    outline:black !important;
    border: none !important;
    border-color: none !important;
    box-shadow: none !important;
    outline: 0 none !important;}

    button:focus{
        border: none !important;
    border-color: none !important;
    box-shadow: none !important;
    outline: 0 none !important;}

    .parent {
        position: relative;
        top: 0;
        left: 0;
      }
      .image1 {
        position: relative;
        top: 0;
        left: 0;
      }
      .image2 {
        position: absolute;
        width: 82%;
        height: 95%;
        top: 5px;
        left: 22px;
      }

      @media only screen and (min-device-width : 768px) 
      and (max-device-width : 990px) {

        .parent {
            position: relative;
            top: 0;
            left: 0;
          }
          .image1 {
            position: relative;
            top: 0;
            left: 0;
          }
          .image2 {
            position: absolute;
    width: 79%;
    height: 91%;
    top: 7px;
    left: 20px;
          }

      }

      @media only screen and (min-device-width : 575px) 
      and (max-device-width : 763px) {

        .parent {
            position: relative;
            top: 0;
            left: 0;
          }
          .image1 {
            position: relative;
            top: 0;
            left: 0;
          }
          .image2 {
            position: absolute;
    width: 71%;
    height: 93%;
    top: 4px;
    left: 19px;
          }

      }
      @media only screen and (min-device-width : 234px) 
      and (max-device-width : 763px) {

        .parent {
            position: relative;
            top: 0;
            left: 0;
          }
          .image1 {
            height: 90px;
            width: 90px;
            position: relative;
            top: -10px;
            left: -30px;
          }
          .image2 {
            position: absolute;
            width: 70%;
            height: 89%;
            top: -5px;
            left: -12px;
          }

      }

    //   @media only screen and (min-device-width : 320px) 
    //   {

    //     .parent {
    //         position: relative;
    //         top: 0;
    //         left: 0;
    //       }
    //       .image1 {
    //         height: 90px;
    //         width: 90px;
    //         position: relative;
    //         top: -10px;
    //         left: -13px;
    //       }
    //       .image2 {
    //         position: absolute;
    //         width: 70%;
    //         height: 89%;
    //         top: -5px;
    //         left: 4px;
    //       }

    //   }