
.welcome{
  //  background: url(./images/login.png)  no-repeat  ;
    
    float: right;
    width: 775px;
    height: 501px;
    margin-right: 3%;
    margin-top: -18%;
    position: relative;
}
.welcome a{
   // background: url(./images/signup.png) no-repeat;
    z-index: 11;
    width: 30%;
    height: 10%;
    border: none;
    right: 34%;
    position: absolute;
    border-radius: 50%;
    top: 239px;
}

.welcome{
    img{
        width:600px;
         height:370px
    }
}

.welcome a img {
    width: 166px;
    height: 171px;
    position: absolute;
    top: -41px;
    left: -63px;
}

.modal{
    background: none;
    background: none;
    border: 4px solid #fccf3e;
    border-radius: 152px;
}

#name{
    color: #fcd03edc;
   // font-size: 8px !important;
   // font-weight: bolder !important;
    // position: relative;
    // left: 39px;
    // font-size: 23px;
    // font-weight: bolder;
}
@media only screen and (max-width : 600px){
    #name{
        color: #fcd03edc;
        font-size: 8px !important;
        font-weight: bolder  !important;
        // position: relative;
        // left: 39px;
        // font-size: 23px;
        // font-weight: bolder;
    }}

.users{
    margin-top: 100px;
    

}
@media only screen and (min-width : 1024px){
    .users{
        margin-top: 100px;
        right: -87px;
    position: relative;
    }
}
@media only screen and (width : 1024px){
    .users{
        margin-top: 100px;
        right: -60px;
    position: relative;
    }
}

.welcome-baner {
    margin-top: 20px;
}

@media only screen and (min-width : 325px){
    .contain{
        max-width: 325px;
        overflow: hidden;
    }
}

.username p {
    display: inline;
    text-overflow: ellipsis
    //font-size: 10pt !important
}
.modali{
    background: url('./../../utils/images/image-border1.png') !important;
    width: 300px;
}