
.input {
    background: none !important;
    border: none !important;
    text-align: center !important;
}
.inputfile {
    // background: url('./../../utils/images/save.png') no-repeat;
    width: 5px;
    height: 215px;
    margin-bottom: 30px;
    text-align: center;
    opacity: 20;
}
.inputfile:hover {
    cursor: pointer;
}
.colcheck {
    // background-color: #1b1b1b !important;
    //  border: 3px solid #fccf3e;
    border-radius: 30px !important;
    height: 40px;
    color: #fccf3e;
    text-align: left;

    //max-width: 10% !important;
}
label.filebutton {
    // width:120px;
    // height:40px;
    overflow:hidden;
    position:relative;
    //background-color:#ccc;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin-top: 0;
    padding:0;
    
}

label span input :hover{
    cursor: pointer !important;
}

